.jumbotron {
    padding: auto;
    margin: 0px auto;
    background: rgb(198, 135, 230);
    color: floralwhite;   
}

.header-row {
    margin:  0px auto;
    padding: 0px auto;
}

.content-row {
    margin:  0px auto;
    padding: 25px 0px;
    border-bottom: 1px ridge;
    min-height: auto;
}
.footer {
    background: #D1C4E9 ;
    margin:  0px  auto;
    padding: 20px 0px;
}
.address {
    margin: 0px auto;
    font-size: 80%;
    color: #0f0f0f;
}
body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.tab-content{
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px;
}
.carousel {
    background:rgb(198, 135, 230);
}

.carousel-item {
  height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
.navbar-dark {
    background-color: #9457ce;
}

.btn-group {
    margin-bottom: 0px;
}

.form-control {
    background-color: rgb(213, 212, 255);
}
/* .res-table{
    background-color: yellow;
} */
.res-btn{
    background-color: rgb(236, 151, 14);
}